<div class="modal-content"><!-- ng-controller="ProfileCtrl" -->
  <div class="modal-header">
    <h4 class="modal-title"><span ng-i18next="modal.change_password.title"></span></h4>
  </div>
  <form class="form-horizontal" role="form" name="dataForm" ng-model="data"  ng-submit="ok(dataForm.$valid)" novalidate>

      <alert ng-repeat="alert in chgPwdAlerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg | i18next}}</alert>
      <div class="h-form-sa">
        <div class="table no-top-border">

          <label class="row input" ng-if="!resetToken" ng-class="{'has-error': dataForm.currentPwd.$invalid && !dataForm.currentPwd.$pristine}">
              <div class="cell name"><span ng-i18next="form.change_password.fields.current_password"></span></div>
              <div class="cell">
                  <input highlight-row type="password" name="currentPwd" ng-model="data.CurrentPassword" required>
                  <span ng-if="isChromeOrSafari" ng-show="dataForm.currentPwd.$invalid && !dataForm.currentPwd.$pristine" class="help-block" style="margin-top:-20px;" ng-i18next="form.change_password.error_messages.current_password_required"></span>
                  <span ng-if="!isChromeOrSafari" ng-show="dataForm.currentPwd.$invalid && !dataForm.currentPwd.$pristine" class="help-block" style="margin-top:-50px;" ng-i18next="form.change_password.error_messages.current_password_required"></span>
              </div>
          </label>

          <label class="row input" ng-class="{'has-error': dataForm.newPwd.$invalid && !dataForm.newPwd.$pristine}">
              <div class="cell name"><span ng-i18next="form.change_password.fields.new_password"></span></div>
              <div class="cell">
                <input highlight-row type="password" name="newPwd" ng-model="data.NewPassword" required>
                <span ng-if="isChromeOrSafari" ng-show="dataForm.newPwd.$error.required && !dataForm.newPwd.$pristine" class="help-block" style="margin-top:-20px;" ng-i18next="form.change_password.error_messages.new_password_required"></span>
                <span ng-if="!isChromeOrSafari" ng-show="dataForm.newPwd.$error.required && !dataForm.newPwd.$pristine" class="help-block" style="margin-top:-50px;" ng-i18next="form.change_password.error_messages.new_password_required"></span>
              </div>
          </label>

          <label class="row input" ng-class="{'has-error': dataForm.confirmPwd.$invalid && !dataForm.confirmPwd.$pristine}">
              <div class="cell name"><span ng-i18next="form.change_password.fields.cnfrm_password"></span></div>
              <div class="cell">
                <input highlight-row type="password" name="confirmPwd" ng-model="data.ConfirmPassword" required>
                <span ng-if="isChromeOrSafari" ng-show="dataForm.confirmPwd.$invalid && !dataForm.confirmPwd.$pristine" class="help-block" style="margin-top:-20px;" ng-i18next="form.change_password.error_messages.cnfrm_password_required"></span>
                <span ng-if="!isChromeOrSafari" ng-show="dataForm.confirmPwd.$invalid && !dataForm.confirmPwd.$pristine" class="help-block" style="margin-top:-50px;" ng-i18next="form.change_password.error_messages.cnfrm_password_required"></span>
              </div>
          </label>

        </div>
      </div>

      <div class="modal-footer no-border">
        <button type="submit" class="btn btn-primary" ng-disabled="dataForm.$pristine || dataForm.$invalid"><span ng-i18next="button.save"></button>      
        <button type="reset" class="btn btn-default" ng-click="cancel()"><span ng-i18next="button.cancel"></button>
      </div>
  </form>
</div>