<div class="container start-screen" id="forgotpassword-form" ng-controller="ResetPasswordCtrl as resetPasswordCtrl">
	<div class="container form">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="confirmation" ng-show="resetPasswordCtrl.confirmation">
					<div class="info alert alert-info">
						If you have an account with the email submitted, you will receive a password reset notification at that address.
					</div>						
				</div>
				<form class="form-horizontal" name="resetPwdForm" novalidate ng-hide="resetPasswordCtrl.confirmation">
					<alert ng-repeat="alert in resetPasswordCtrl.alerts" type="{{alert.type}}" close="resetPasswordCtrl.closeAlert($index)">{{alert.msg}}</alert>

					<div class="form-group mb-lg" ng-class="{'has-error': resetPwdForm.$dirty && resetPwdForm.email.$invalid}">
						<div class="col-xs-12">				
							<input type="email" name="email" class="form-control" ng-model="resetPasswordCtrl.data.Email" placeholder="Email" ng-pattern="/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/" required>
						</div>
					</div>
					<div class="submit-button-wrapper mb-lg">
						<button type="submit" class="btn btn-primary" ng-click="resetPasswordCtrl.resetPassword($event, saving || !resetPasswordCtrl.canSubmit(), resetPwdForm)" ng-disabled="resetPasswordCtrl.saving" >Reset Password</button>
					</div>
				</form>
				<div class="login-extras">
					<a href="#/pages/signin">
						<span ng-if="!resetPasswordCtrl.confirmation">
							<i class="fa fa-angle-left"></i> Go Back
						</span>
						<span ng-if="resetPasswordCtrl.confirmation">
							Login
						</span>
					</a>
				</div>
			</div>				
		</div>
	</div>
</div>
