<div class="page" ng-controller="UnknownFilePathListCtrl as unknownFilePathListCtrl" id="unknownFilePathList">
   <a class="btn add-btn" href="#/unknown_file_paths/new" ng-i18next="button.add"></a>
   <div class="panel panel-default">
    <div class="table-responsive">
        <div class="panel-heading  display-table">
            <div class="col-md-6">
                <form class="form-inline">
                   <div class="checkbox">
                      <label>
                        <input type="checkbox" ng-model="unknownFilePathListCtrl.deleteAll">
                        Delete all
                    </label>
                </div>
            </form>
        </div>
        <div class="col-md-6 pull-right" style="margin-top:8px;">
            <form class="full-text-input inline">
                <input type="text"
                placeholder="Filter by Path"
                class="form-control"
                ng-model="unknownFilePathListCtrl.searchKeywords" ng-model-options="{debounce: {'default': 300} }">
            </form>
        </div>
    </div>
    <table class="table table-striped table-bordered no-border no-margin dataTable">       
        <thead class="left-align clickable-table ">
            <tr>  

                <th class="col-md-3" ng-class="{'sorting_asc':unknownFilePathListCtrl.row == 'Path', 'sorting_desc':unknownFilePathListCtrl.row == '-Path'}" ng-click="unknownFilePathListCtrl.order('Path')">
                    <span ng-i18next="list.unknown_file_paths.columns.path"></span>
                    <i class="fa" ng-class="{'fa-angle-up': unknownFilePathListCtrl.sortcolumn=='Path', 'fa-angle-down': unknownFilePathListCtrl.sortcolumn=='-Path'}"></i>
                </th>
                <th class="col-md-3" ng-class="{'sorting_asc':unknownFilePathListCtrl.row == 'Timestamp', 'sorting_desc':unknownFilePathListCtrl.row == '-Timestamp'}" ng-click="unknownFilePathListCtrl.order('Timestamp')">
                    <span ng-i18next="list.unknown_file_paths.columns.timestamp"></span>
                     <i class="fa" ng-class="{'fa-angle-up': unknownFilePathListCtrl.sortcolumn=='Timestamp', 'fa-angle-down': unknownFilePathListCtrl.sortcolumn=='-Timestamp'}"></i> 
                </th>
                <th class="col-md-3" style="cursor: default;">
                </th>
                <th class="col-md-3" style="cursor: default;">
                </th>
            </tr>
        </thead>
        <tbody>         

            <tr class="plain-data" ng-repeat="data in unknownFilePathListCtrl.unknownFilePaths.Result">                       
                <td>
                    <span ng-if="data.Path.length>150">
                        <span ng-if="!more">{{data.Path|limitTo:150}}</span> 
                        <span ng-if="more">{{data.Path}}</span> 
                        <a ng-click="more=!more">
                            <span ng-if="!more">more...</span>
                            <span ng-if="more">less</span>
                        </a>
                    </span> 
                    <span ng-if="data.Path.length<=150">
                        {{data.Path}}
                    </span>                        
                </td>
                <td ng-bind="data.TimestampDisplay">                    
                </td> 
                <td>
                    <a href="/#/unknown_file_paths/{{data.EntityID}}"><i class="fa fa-pencil"></i></a>
                </td>
                <td href="" ng-click="unknownFilePathListCtrl.removeUnknownFilePath(data)">
                    <a><i class="fa fa-times text-danger"></i></a>
                </td>                       
            </tr>  
        </tbody>
    </table>
    <div class="pull-right" style="margin-right:10px;" ng-if="unknownFilePathListCtrl.unknownFilePaths.Total>unknownFilePathListCtrl.itemsPerPage">       
        <pagination boundary-links="true" total-items="unknownFilePathListCtrl.unknownFilePaths.Total" ng-model="unknownFilePathListCtrl.currentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="unknownFilePathListCtrl.itemsPerPage" max-size="5" ng-change="unknownFilePathListCtrl.getUnknownFilePaths()"></pagination>
    </div>
</div>
</div>
</div>