<div class="page" ng-controller="AggregatorCtrl as aggregatorCtrl" id="dataList">
<div class="panel panel-default">
    <div class="table-responsive">
        <table class="table table-striped table-bordered no-border no-margin">       
            <thead class="left-align">
                <tr>  
                                        
                    <th>
                        <span ng-i18next="list.data.columns.uniqueid"></span>
                    </th>
                    <th>
                        <span ng-i18next="list.data.columns.description"></span>
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>         
                    
                    <tr class="plain-data" ng-repeat="data in aggregatorCtrl.data">    
                        <td ng-bind="data.UniqueID"></td>
                        <td ng-bind="data.Description"></td>                        
                        <td>
                            <button class="btn btn-default" ng-click="aggregatorCtrl.deleteAggregator(data)">Remove</button>
                        </td>
                    </tr>  
                </tbody>
            </table>
        </div>
    </div>
</div>