<div class="page" ng-controller="OrganizationsCtrl as organizationCtrl">
	<h2 style="color:#000;padding:0px;">{{organizationCtrl.organization.Name}} Details</h2>
	<div class="panel panel-default">
		<!-- <div class="panel-heading">
			<strong>
				<span class="glyphicon glyphicon-th"></span> <span ng-i18next="title.add-edit"></span>
			</strong>
		</div> -->
		<form name="organizationForm" role="form" novalidate ng-submit="organizationForm.$valid && organizationCtrl.save()" class="form-horizontal row-border">
			<div class="panel-body">
				<!-- <div class="form-group" ng-class="{'has-error': organizationForm.inputFirstName.$dirty && organizationForm.inputFirstName.$invalid}">
					<label class="control-label col-sm-2">
						<span ng-i18next="form.organizations.fields.name"></span>
					</label>
					<div class="col-sm-4">
						<input type="text" name="inputName" ng-model="organizationCtrl.organization.Name"  class="form-control" required>
					</div>
				</div> -->
			</div>

			<div ng-include="'views/organization/api_keys_list.html'"></div>
	
			<!-- <div class="panel-footer">  
				<button type="submit" class="btn btn-primary">
					<span ng-i18next="button.done"></span>
				</button> 
				<a href="#/admin/organizations" class="btn btn-default">
					<span ng-i18next="button.cancel"></span> 
				</a>		
			</div> -->
		</div>
	</form>
</div>
</div>