<div class="page" ng-controller="UrlExpressionsCtrl as urlExpressionsCtrl">
	<h2 ng-i18next="list.url_expressions.title"></h2>
	<div class="panel panel-default">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span ng-i18next="title.add-edit"></span></strong></div>

		<form  name="urlExpressionForm" role="form" novalidate ng-submit="urlExpressionsCtrl.save()" class="form-horizontal row-border">
			<div class="form-group required" ng-class="{'has-error': urlExpressionForm.$dirty && urlexpressionForm.inputExpression.$invalid}" >
				<label class="control-label col-sm-2">
					<span ng-i18next="form.url_expressions.fields.expression"></span>
				</label>
				<div class="col-sm-4">
					<textarea type="text" style="max-width: 100%; max-height: 100%;" class="form-control" ng-model="urlExpressionsCtrl.urlExpression.Expression" rows="5" name="inputExpression" required> </textarea>
				</div>
			</div>
			<div class="form-group required" ng-class="{'has-error': urlexpressionForm.$dirty && urlexpressionForm.inputCategory.$invalid}" >
				<label class="control-label col-sm-2">
					<span ng-i18next="form.url_expressions.fields.category"></span>
				</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" ng-model="urlExpressionsCtrl.urlExpression.Category" name="inputCategory" required>
				</div>
			</div>

			<div class="panel-footer">

				<button type="submit" class="btn btn-primary" ng-show="urlExpressionsCtrl.urlExpression && !urlExpressionsCtrl.urlExpression.EntityID"  ng-disabled="urlExpressionForm.$invalid || saving || urlExpressionsCtrl.saving">
					<span ng-i18next="button.create"></span>
				</button> 
				
				<button type="submit" class="btn btn-primary" ng-show="urlExpressionsCtrl.urlExpression && urlExpressionsCtrl.urlExpression.EntityID" ng-disabled="urlExpressionForm.$invalid || saving">
					<span ng-i18next="button.done"></span>
				</button>	       

				<a href="#/url_expressions" class="btn btn-default" ng-show="urlExpressionsCtrl.urlExpression && !urlExpressionsCtrl.urlExpression.EntityID">
					<span ng-i18next="button.cancel"></span>
				</a>
				<a class="btn btn-danger" ng-click="urlExpressionsCtrl.removeUrlExpressions()" ng-show="urlExpressionsCtrl.urlExpression.EntityID">  
				<span ng-i18next="button.remove"></span>
			</a>
		</div>

	</form>

</div>
</div>