<div class="page" ng-controller="UrlExpressionsCtrl as urlExpressionsCtrl" id="urlExpressionsList">
    <!-- <h2 ng-i18next="list.url_expressions.title"></h2> -->
    <a class="btn add-btn" href="#/url_expressions/new" ng-i18next="button.add"></a>
    <a class="btn add-btn" href="#/url_expressions/{{urlExpressionsCtrl.selectedExpression.EntityID}}" ng-i18next="button.edit" ng-disabled="!urlExpressionsCtrl.selectedExpression"></a>
    <div class="panel panel-default">
        <div class="table-responsive">
            <div class="panel-heading  display-table">
                <div class="col-md-6">
                 &nbsp;
             </div>
             <div class="col-md-6 pull-right" style="margin-top:8px;">
                <form class="full-text-input inline">
                    <input type="text"
                    placeholder="Filter by Expression or Category"
                    class="form-control"
                    ng-model="urlExpressionsCtrl.searchKeywords" ng-model-options="{debounce: {'default': 300} }" size="57">
                </form>
            </div>
        </div>
       
            <table class="table table-striped table-bordered no-border no-margin clickable-table">       
                <thead class="left-align">
                    <tr>
                        <th class="col-md-8" ng-class="{'sorting_asc':urlExpressionsCtrl.row == 'Expression', 'sorting_desc':urlExpressionsCtrl.row == '-Expression'}" ng-click="urlExpressionsCtrl.order('Expression')">
                            <span ng-i18next="list.url_expressions.columns.expression"></span>                        
                            <i class="fa" ng-class="{'fa-angle-up': urlExpressionsCtrl.sortcolumn=='Expression', 'fa-angle-down': urlExpressionsCtrl.sortcolumn=='-Expression'}"></i>
                        </th>
                        <th class="col-md-4" ng-class="{'sorting_asc':urlExpressionsCtrl.row == 'Category', 'sorting_desc':urlExpressionsCtrl.row == '-Category'}" ng-click="urlExpressionsCtrl.order('Category')">
                            <span ng-i18next="list.url_expressions.columns.category"></span>                        
                            <i class="fa" ng-class="{'fa-angle-up': urlExpressionsCtrl.sortcolumn=='Category', 'fa-angle-down': urlExpressionsCtrl.sortcolumn=='-Category'}"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>         
                    <tr class="plain-data ng-scope" ng-class="{'active': urlExpressionsCtrl.selectedExpression.EntityID==urlexpression.EntityID}" ng-repeat="urlexpression in urlExpressionsCtrl.urlExpressions.Result" ng-click="urlExpressionsCtrl.selectRow(urlexpression)">
                        <td>                            
                            <span ng-if="urlexpression.Expression.length>150">
                                <span ng-if="!more">{{urlexpression.Expression|limitTo:150}}</span> 
                                <span ng-if="more">{{urlexpression.Expression}}</span> 
                                <a ng-click="more=!more">
                                    <span ng-if="!more">more...</span>
                                    <span ng-if="more">less</span>
                                </a>
                            </span> 
                            <span ng-if="urlexpression.Expression.length<=150">
                                {{urlexpression.Expression}}
                            </span>
                        </td>  
                        <td>
                            <span ng-bind="urlexpression.Category"></span>
                        </td>             
                    </tr>  
                </tbody>
            </table>
     
        <div class="panel-footer" ng-if="urlExpressionsCtrl.urlExpressions.Total>urlExpressionsCtrl.itemsPerPage">
            <div class="row">
                <div class="col-sm-6">&nbsp;</div>
                <div class="col-sm-6">                    
                    <pagination class="pull-right" boundary-links="true" style="margin:0;" total-items="urlExpressionsCtrl.urlExpressions.Total" ng-model="urlExpressionsCtrl.currentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="urlExpressionsCtrl.itemsPerPage" max-size="5" ng-change="urlExpressionsCtrl.getUrlExpressions()"></pagination>                    
                </div>
            </div>
        </div>
    </div>
</div>
</div>