<div class="reoi-info-content">
	<div class="header">Event Time Range: <strong>{{range.s}}  >  {{range.e}}</strong></div>
	<div class="table icons">
		<div class="table-cell duration">Event Time Duration:<br><strong>{{duration}}</strong></div>
		<div class="table-cell number">Total Number of Anomalies:<br><strong>{{data.length}}</strong></div>
	</div>
	<div class="table categories">
		<div class="table-cell">
			<div>Anomalous Event Category(s):</div>
			<div><div class="sa-checkbox"></div> First High Risk Connection</div>
			<div><div class="sa-checkbox selected"></div> Access Resource Outside of Peer Group</div>
			<div><div class="sa-checkbox"></div> Upload Data Externally</div>
		</div>
		<div class="table-cell">
			REI: <strong class="green">YES</strong><br>
			REI CATEGORY: <strong>TIME</strong>
		</div>
	</div>
</div>
